[Desktop Entry]
Type=Application
Name=Aleph One Marathon Launcher
GenericName=Aleph One Marathon Launcher
Categories=Game;
Exec=alephone-launcher
Icon=marathon_128.png
StartupWMClass=Aleph One Marathon Launcher
Hidden=false
NoDisplay=false
Terminal=false
